@keyframes luminate {
  0% {
    color: #ffd700;
    opacity: 0.3;
  }
  100% {
    color: var(--main);
    opacity: 1;
  }
}

.text-animate {
  display: inline-block;
  opacity: 0;
  animation-name: luminate;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  min-width: 10px;
}

.text-animate-hover {
  min-width: 10px;
  display: inline-block;
  animation-fill-mode: both;
}

.text-animate-hover:hover {
	color: #ffd700;
}
